<!--Inherit-->
{% extends 'base/index.html' %}

<!--Page Title-->
{% block title %}
    <title>Ferretería Santa Lucía | Mantenimientos | Roles | Registrar </title>
{% endblock %}

<!--ops bar-->
{% block ops_bar %}

{% endblock %}

<!--main-->
{% block container %}
<div class="mb-3">
    <div class="row">
        <!--Left Main Menu-->
        <div class="col-md-4 col-xl-3">
            <div class="card mb-3">
                <div class="card-body text-start">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Registrar Rol de Usuario</h5>
                    </div>
                    <div class="card-body text-start">
                        <i class="align-start" data-feather="folder-plus"
                            style="color: darkblue; width: 25px; height: 25px;"></i>
                        La información de contacto a continuación se utilizará por el sistema para actualización,
                        notificaciones y confirmaciones. Mantener la información actualizada. Consider la
                        importancia de mantener la información actualizada.
                    </div>
                </div>
            </div>
        </div>

        <!--Right Main Menu-->
        <div class="col-md-8 col-xl-9">
            <div class="card mb-3">
                <div class="card-body text-start">

                    <!--Roles Register Info Form -->
                    <form id="id_roles_register_form" novalidate>
                        <h5 class="card-title my-3 text-start"><strong>Información de Rol de Usuario</strong></h5>

                        <!--Hidden Input Field-->
                        <input type="hidden" value="POST" name="method">

                        <!--Roles Field Group-->
                        <div class="row">
                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center" style="color: #3371db;">Usuario</label> *
                                    <div class="input-group">
                                        <div class="input-group">
                                            <select class="form-select mb-2" id="id_user_name_field"
                                                    name="user_name_field"
                                                    style="color: cadetblue;">
                                                <option value="not_select" selected>Seleccionar usuario</option> *
                                                <option value="test">test</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div id="id_user_not_selected_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>

                                </div>
                            </div>
                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center" style="color: #3371db;">
                                        Nombre Rol Usuario</label> *
                                    <div class="input-group">
                                        <div class="input-group">
                                            <select class="form-select mb-2" id="id_role_name_field"
                                                    name="role_name_field"
                                                    style="color: cadetblue;">
                                                <option value="not_select" selected>
                                                    Seleccionar nombre de rol de usuario
                                                </option>
                                                <option value="test">test</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div id="id_role_name_not_selected_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Roles Management Field Group-->
                        <div class="row">
                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center" style="color: #3371db;">Jefatura</label> *
                                    <div class="input-group">
                                        <div class="input-group">
                                            <select class="form-select mb-2" id="id_office_band_field"
                                                    name="office_band_field"
                                                    style="color: cadetblue;">
                                                <option value="not_select" selected>
                                                    Asignar jefatura a rol de usuario
                                                </option>
                                                <option value="test">test</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div id="id_management_not_selected_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>

                                </div>
                            </div>

                            <div class="col">
                                <div class="py-1 text-start">
                                    <label class="form-label text-center" style="color: #3371db;">
                                        Jornada Laboral</label> *
                                    <div class="input-group">
                                        <div class="input-group">
                                            <select class="form-select mb-2" id="id_schedule_field"
                                                    name="schedule_field"
                                                    style="color: cadetblue;">
                                                <option value="not_select" selected>
                                                    Asignar jornada laboral a rol de usuario
                                                </option>
                                                <option value="test">test</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div id="id_schedule_not_selected_field_error" class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Roles Details Field-->
                        <div class="row">
                            <div class="col">
                                <div class="py-3 text-start">
                                    <label class="form-label text-center" style="color: #3371db;">
                                        Detalle Rol Usuario</label> *
                                    <div class="input-group">
                                        <textarea class="form-control" id="id_role_detail_field"
                                                    name="role_detail_field"
                                                    style="color: cadetblue;" rows="2"
                                                    placeholder="Ingresar detalle de rol de usuario."></textarea>
                                    </div>
                                </div>

                                <!--Roles Details Validation Errors Field-->
                                <div id="id_role_detail_blank_field_error"
                                        class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_role_detail_chars_field_error"
                                        class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>
                                <div id="id_role_detail_length_field_error"
                                        class="text-danger text-start"
                                        style="font-size: 13px; display: none;">
                                </div>

                            </div>
                        </div>

                        <p style="color: brown;"><strong> * </strong>Campos obligatorios</p>

                        <!--Submit Form-->
                        <div class="d-grid gap-2 mt-3">
                            <div class="row">
                                <div class="col text-end">
                                    <button class="btn btn-lg btn-dark" type="submit">
                                        <b>Registrar Rol Usuario</b>
                                    </button>
                                </div>
                                <div class="col text-center">
                                    <button class="btn btn-lg btn-info" type="reset">
                                        <b>Limpiar Campos</b>
                                    </button>
                                </div>
                                <div class="col text-start">
                                    <a href="{{url_for('getting_crud_roles_main_page')}}">
                                        <button class="btn btn-lg btn-secondary" type="button">
                                            <b>Regresar</b>
                                        </button>
                                    </a>
                                </div> 
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--local .js scripts -->
{% block scripts %}
    {{ super() }}
    <script type="module">
        import { RolesRequest } from "{{url_for('static', path='scripts/validators/crud/rolesValidate.js')}}";
        document.addEventListener("DOMContentLoaded", () => {
            new RolesRequest("id_roles_register_form");
        });
    </script>
{% endblock %}
